body {
    text-align: center;
    width: 100%;
    background: hsl(212, 45%, 89%);
    font-family: Outfit;
    margin: 0 auto;
    
}

.content {
    width: 200px;
    height: 328px;
    margin: 5% 45%;
    padding: 10px 10px;
    border-radius: 9px;
    background: hsl(0, 0%, 100%);
    
}

img {
    width: 100%;
    border-radius: 9px;
}

.p1 {
    margin: 14px 1px; 
    font-weight: 700;
    font-size: 16px;
    
}

.p2 {
    margin: 0 3px;
    font-weight: 400;
    font-size: 11px;
    color: hsl(220, 15%, 55%);
}


